[submodule "server/third_party/jwt-cpp"]
	path = server/third_party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp
[submodule "server/third_party/libbcrypt"]
	path = server/third_party/libbcrypt
	url = https://github.com/trusch/libbcrypt
[submodule "tools/installer/windows/third_party/quazip"]
	path = tools/installer/windows/third_party/quazip
	url = https://github.com/stachenov/quazip
